body {
    background-color: rgb(24, 23, 23);
    color: white;
}

.form {
    margin-left: 40%;
    margin-top: 5%;
    font-size: 1.2em;
}

input, button {
    font-size: 1em;
    margin: 8px;
    padding: 5px;
    height: auto;
}

.deleteBtn {
    border-radius: 12px;
    background-color: white;
}

ul {
  list-style-type: none;
  padding-left: 0;
  color: white;
}

